

body {
  font-size: 10px;
  font-family: Roboto;
}

nav{
  height: 40px;
  background-color: #fdc84e;
}

.header-top,
.header-center,
.header-bottom{
  font-size: 1.1rem;
  font-weight: 400;
  color: #a8a8a9;
}


.header-top{
  background: linear-gradient(to right, #505357 50%, #ffffff 50%);
}

.header-bottom{
  background: linear-gradient(to right, #ffffff 50%, #fdc84e 50%);
}


.container,
.page{
  border: 1px solid red;
}

.top-menu{
  background-color: #505357;
}

.soclink,
.mailto,
.language{
  height: 30px;
  font-size: 1.1rem;
  font-weight: 400;
  color: #a8a8a9;
}

.soclink li{
  margin-right: 0; 
  border-right: 1px solid #a8a8a9;
}

.soclink li:first-child{
  border-left: 1px solid #a8a8a9;
}


.naigation{
  height: 100%;

}







