/*------global------*/

/* font-family: "RobotoRegular"; */
@font-face{
  font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


*{
  box-sizing: border-box;
}

body {
  font-size: 10px;
  line-height: 2.8rem;  
  font-family: "RobotoRegular", sans-serif;
}

.container{
  width: 990px;
}

ul{
  margin: 0;
  padding: 0;
}

a{
  color: #a8a8a9;
}
a:hover{
  color: #e2e2e3;
}
  
h2 + p,
.reviews > p{
  font-size: 1.9rem;
}

.attention{
  color: #fead2d;
}

.container{
  border: 1px solid yellow;
}

/*------------styles for button---------------*/

.btn-prime{
  display: block;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

.registration,
.comment {
  padding: 1.5rem 4.5rem;
  font-size: 1.9rem;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ff862c; 
  border: 2px solid #ebecf3;
  box-shadow: inset 0 0 0 3px #ff862c,
              inset 0 0 0 4px #f4bc96; 
}

.download{
  padding: 1rem .7rem;
  font-size: 1.4rem;
  border-radius: 5px;
  color: #67615b;
  background-color: #ffffff;
  border: 2px solid #c7c4c4;
  box-shadow: inset 0 0 0 3px #ffffff,
              inset 0 0 0 4px #e1e0e0;
}

/*------ style for circle decorate block ------*/

.circle{
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 50%;
  margin: 0 auto;
}

.red,
.overlie{
  background-position: center;
  background-repeat: no-repeat;
}

.red{
  background-color: #dd292b;
}

.overlie{
  border: 1px solid #ffae61;
  background-color: #ffffff;
  position: absolute;
  right: 46%;
  box-shadow: -10px 0px 0px 0px #ffffff,
              10px 0px 0px 0px #ffffff;
}

.tour-info .red {
  background-image: url(../images/icons/tour_info/doc.png);
}

.company .red {
  background-image: url(../images/icons/company/town.png);
}

.separate-block{
  height: 8rem;
  border: 1px solid green;
  position: relative;
}

hr{
  border-top: 1px solid #c6c6c6;
  margin: 3.9rem 0;
}

/*-------------style for Header --------------*/

.header-top,
.header-center,
.header-bottom{
  font-size: 1.1rem;
  font-weight: 400;
  color: #a8a8a9;
}

/*--------header top menu-----------*/

.header-top{
  background: linear-gradient(to right, #505357 50%, #ffffff 50%);
}

.top-menu{
  background: linear-gradient(to right, #505357 90%, #ffffff 10%);
}

header .soclink,
.mailto,
.language{
  font-size: 1.1rem;
  font-weight: 400;
  color: #a8a8a9;
  text-decoration: none;
}

header .soclink{
  margin: 0 -15px 0 0;
  padding: 0;
}

header .soclink li>a{
  display: block;
  padding: 0 14px;
  height: 100%;
  width: 100%;
}

header .soclink li{
  margin-right: 0; 
  border-right: 1px solid #a8a8a9;
}

header .soclink li:first-child{
  border-left: 1px solid #a8a8a9;
}

.langtoggle{
  background-image: url(../images/background/engbg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

/*------------header center menu--------------*/

.phone{
  color: #45484a;
  font-weight: 500;
}

.header-center .phone .contact_phone{
  font-size: 1.4rem;
  font-weight: 500;
}

.phone .fa{
  font-size: 2rem;
}

.phone li{
  border-right: 1px solid #ddd;
}

.phone li:last-child{
  border-right: 1px solid transparent;
  padding-right: 0;
}

.logo,
.phone{
  padding: .6rem 0;
}

.logo a{
  display: block;
  height: 100%;
}

header .phone .fa,
header .icon{
  margin-right: .7rem;
}


/*------------header bottom menu-------------*/
.header-bottom{
  background: linear-gradient(to right, #ffffff 50%, #fdc84e 50%);
}

.header-bottom nav{
  padding-left: 3rem;
  background: linear-gradient(to right, #ffffff 50%, #fdc84e 50%);
  background-image: url(../images/background/navbg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.naigation{
  padding: 1rem 0;
}

.naigation a,
.naigation a:hover{
  font-size: 1.3rem;
  font-weight: 500;
  color: #a95307;
  text-transform: uppercase;
  text-decoration: none;
}


.naigation li:nth-child(-n+4){
  margin-right: 1.2rem;
}

.logo-info span:first-child{
  margin-right: 5.9rem;
}

/*-------------section main-----------------*/

.main{
  background-image: url(../images/background/mainbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.main article{
  padding: 9rem 13.5rem 12.3rem 13.5rem;
}

.main h1{
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.main h3{
  font-weight: 500;
}

.main h3,
.main p{
  text-shadow: 1px 2.8px 6.7px rgba(29, 25, 25, 0.79);
}

.main p{
  font-size: 2.2rem;
  padding-bottom: 4rem;
  font-family: "RobotoRegular";
  font-weight: lighter;
}

/*---------------section tour-info ----------------*/
.tour-info {
  border-bottom: 1px solid #df4b4a;
}

.tour-info article{
  padding-top: 5rem;
}

.tour_detail{
  margin-bottom: 6rem;
  font-family: "RobotoRegular";
}

.theme,
.date,
.places{
  float: left;
  width: 32%;
  min-height: 16rem;
  padding: 1.5rem .5rem 0 2rem;
  background-image: url(../images/background/tour_info_item_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(183, 216, 237, 0.81);
}

.date{
  margin: 0 1.9rem 0 1.8rem;
}

.theme p,
.date p,
.places p{
  font-size: 1.3rem;
}

.theme h4::before,
.date h4::before,
.places h4::before{
  content: '';
  background-color: #f8c142;
  border-radius: 50%;
  padding:  0.5rem 1.8rem;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1rem;
}

.theme h4::before{
  background-image: url(../images/icons/tour_info/questionicon.png);
}

.date h4::before{
  background-image: url(../images/icons/tour_info/location.png);
}

.places h4::before{
  background-image: url(../images/icons/tour_info/building.png);
}

.tour-info button{
  margin-bottom: 5rem;
}

/*-------------------section company----------------*/

.company{
  box-shadow: inset 1px 220px 27px 0px #f6f2f1;
}

.brochure{
  width: 36rem;
  font-size: 1.4rem;
  border: 1px solid #c7c4c4;
}

/*---------------slider------------------*/

#slider{
  margin-bottom: 6.5rem;
}
.reviews-item{
 margin: 0 3rem;
}


.reviews-text{
  height: 14rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #ffcf5f;
  border-radius: 3px;
  border: 1px solid #ffcf5f;
  position: relative;
  overflow: visible;
}

.reviews-text:before{
  content: ' ';
  border: 10px solid transparent;
  border-top: 25px solid #ffcf5f;
  position: absolute;
  bottom: -25px; 
  left: 10px;
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}

/*---------------------------*/

.tour-info .comment{
  margin-bottom: 10.5rem;
}


/*-------------form------------*/
#tour-registration{
  padding-left: 20%;
  margin-bottom: 3.5rem;
}

#tour-registration label{
  display: block;
  font-size: 1.4rem;

}

#tour-registration label
.subscription p{
  color: #272728;
}

#tour-registration input{
  width: 90%;
  margin-bottom: 1.5rem;
  border: 1px solid #9d9b9a;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(198, 189, 186, 0.43);
}

.manager{
  margin-top: 3rem;
}

.manager img{
  display: block;
  border-radius: 50%;
  border: 1px solid #e2e2e2; /*#818181;*/
  box-shadow: 0px 0px 1px 6px #ffffff,
              0px 0px 1px 6px #1b1b1b;
}

small{
  font-size: 1.2rem;
  color: #4f4f4f;
}

.subscription p{
  font-size: 1.4rem;
}

.subscription .separate-block img,
.tour-info .separate-block img,
.partners .separate-block img{
  display: block;
  margin: 2rem auto;
}


.subscription .separate-block{
  margin-bottom: 1.5rem;
}

.subscription button{
  margin-bottom: 6rem;
}

/*-------section partners-------*/
.partner-list li{
  margin-right: 2.7rem;
}

.partner-list li:last-child{
  margin-right: 0;
}
  
.partner-list{
  margin-bottom: 5rem;
}

/*-----------footer------------*/


.footer-top-section{
  min-height: 4rem;
  line-height: 2.2rem;
  color: #ffffff;
  background-color: #7c7570;
  background-image: url(../images/background/worldbg.png);
  background-repeat: no-repeat;
  background-position: center;
}


.footer-menu img{
  margin: 2rem 0 1.5rem 0;

}

.mini-nav li{
  margin: -0.3rem 1.8rem -0.3rem 0;
  list-style: none;
  font-size: 1.2rem;  
}

.mini-nav li>a{
  color: #ffffff;
  text-decoration: none;
}

.mini-nav li>a:hover{
  color: #a29c98;
  text-decoration: none;
}

.mini-nav{
  border-right: 1px solid #a29c98;
}

.mini-nav:last-child{
  border-right: 1px solid transparent;
}

.mini-nav:last-child li{
  margin: -0.3rem 0 -0.3rem 1.8rem;
}

/*-----------footer form-----------*/
#news-subscription{
  display: block;
}

#news-subscription > h3{
  font-size: 1.2rem;
  font-weight: 700;
}

#news-subscription input,
#news-subscription button{
  display: block;
  width: 100%;
}

#news-subscription input{
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #ffffff;
  padding: 0 0 0 .5rem; 
}

#news-subscription button{
  background-color: #5a5653;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.8rem;
  margin: 0.8rem 0 2.5rem 0;
}

#news-subscription input::-webkit-input-placeholder{
  color: #ffffff;
}

#news-subscription input::-moz-placeholder{
  color: rgba(255, 255, 255, 1);
}

#news-subscription input:-moz-placeholder{
  color: #ffffff;
}

#news-subscription input:-ms-input-placeholder{
  color: #ffffff;
}

.form-wrapper{
  width: 172px;
  margin: 0 auto;
}

/*------------location-----------*/

.location{
  margin-left: 4rem;
}

.location h3{
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}

.location ul{
  width: 48%;
  display: block;
  padding:0;
  list-style: none;
  font-size: 1.2rem;
}

.location-ru li,
.location-ua li{
  position: relative;
}

.location-ru li{
  margin: 0 2rem .5rem 2rem;
}

.location-ua li{
  margin: 0 0 .5rem 2rem;
}

.location-ru li:first-of-type::before,
.location-ua li:first-of-type::before{
  content: ' ';
  display: inline-block;
  padding: 1rem;
  background-image: url("../images/footernav/phoneicon.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -3rem;
}

.location-ru li:nth-of-type(2)::before,
.location-ua li:nth-of-type(2)::before{
  content: ' ';
  display: inline-block;
  padding: 1.3rem;
  background-image: url("../images/footernav/locationicon.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -3rem;
  top: .5rem;
}

.location-ua li:last-of-type::before{
  content: ' ';
  display: inline-block;
  padding: 1.3rem;
  background-image: url("../images/footernav/mailicon.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -3rem;
  top: .3rem;
}

/*---------footer-bottom-section----------*/

.footer-bottom-section{

  color: #6d6d6d;
}

.copyright p:first-of-type{
  margin-right: 11.5rem;
}




